@{
    ViewBag.Title = "Home Page";
}
@model IEnumerable<WebApplication1.Models.Employee>


<div class="row">


    <table class="table">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Department</td>
                    <td>@employee.Salary</td>
                </tr>
            }
        </tbody>
    </table>

</div>